@import url('https://fonts.cdnfonts.com/css/ds-digital');

button {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.play-btn {
  background: url(./assets/svg/play.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 175px;
  top: 75px;
}

.pause-btn {
  background: url(./assets/svg/pause.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  right: 175px;
  top: 75px;
}

.next-btn {
  background-color: inherit;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.prew-btn {
  background-color: inherit;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 250px;
}

progress {
  -webkit-appearance: none;
  position: absolute;
  left: 215px;
  top: 113px;
  width: 470px;
  height: 5px;
}

.timer {
  position: absolute;
  right: 350px;
  top: 250px;
  font-family: 'DS-Digital', sans-serif;
  font-size: 30px;

}

.songname {
  position: absolute;
  right: 350px;
  top: 220px;
  font-family: 'DS-Digital', sans-serif;
  font-size: 30px;
}

.iconSong {
  background-image: url(./assets/image/pngimg.com\ -\ viktor_tsoi_PNG6.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 210px;
  left: 200px

}

::-webkit-progress-bar {
  background-color: black;

}

::-webkit-progress-value {
  background-color: rgb(162, 176, 82);

}

li {
  list-style: none;
}

.player {
  background-image: url(./assets/image/audioplayer.png);
  width: 1000px;
  height: 500px;
  margin: 50px auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}
.footer {
  display: flex;
  justify-content:space-around ;
  font-family: 'DS-Digital', sans-serif;
  align-items: center;
  
}
img{
  height: 50px;
  width: 100px;
}
body{
  background-color: rgb(255, 255, 255);
}